.Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    color: #222433;
}

@media (max-width: 576px) {
    .Title {
        font-size: 28px !important;
    }
}