.Team {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 200px 10%;

    h1,
    h3 {
        margin: 0;
        margin-top: 15px;
    }

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        text-align: center;
        text-transform: capitalize;
        color: #222433;
    }

    .SubTitle {
        width: 300px;
    }

    .members {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .member {

            img {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 10;
            }

            &:nth-child(2) {
                margin-top: 20%;
            }
        }
    }


    .line1 {
        position: absolute;
        z-index: 1;
        left: 20%;
        top: 35%;
    }

    .line2 {
        position: absolute;
        z-index: 1;
        right: 15%;
        bottom: 5%;
        transform: rotate(140deg);
    }
}

@media (max-width: 1200px) and (min-width: 993px) {
    .Team {
        .members {
            gap: 60px;

            .line1 {
                left: 10%;
                top: 17%;
                transform: scale(0.9);
            }

            .line2 {
                right: 5%;
                bottom: 0%;
                transform: scale(0.7) rotate(140deg);
            }
        }
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .Team {
        .members {
            gap: 30px;

            .line1 {
                left: 10%;
                top: 17%;
                transform: scale(0.7);
            }

            .line2 {
                right: -3%;
                bottom: 0%;
                transform: scale(0.7) rotate(140deg);
            }
        }
    }
}

@media (max-width: 768px) {
    .Team {
        padding: 60px 10%;

        .SubTitle {
            width: 90%;
        }

        .members {
            flex-direction: column;

            .member {
                max-width: 300px;
            }

            :nth-child(even) {
                margin: 0 0 30px auto !important;
            }

            :nth-child(odd) {
                margin-right: auto !important;
                margin-bottom: 30px;
            }

            .line1 {
                top: 20%;
                left: 5%;
                transform: rotate(35deg) scale(0.8);
            }

            .line2 {
                bottom: 25%;
                right: 10%;
                transform: rotate(-60deg) scale(0.8);
            }
        }
    }
}

@media (max-width: 576px) {
    .Team {
        .members {

            .member {
                max-width: 200px !important;
            }

            .line1 {
                top: 15% !important;
                left: 5%;
                transform: rotate(45deg) scale(0.8);
            }

            .line2 {
                bottom: 25%;
                right: 10%;
                transform: rotate(-90deg) scale(0.8);
            }
        }
    }
}